body {
    background-color: lightblue; /* jasno niebieskie tło */
    font-family: Arial, sans-serif;
}

#tresc {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
